* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #001d3d;
  height: 100vh;
  padding-top: 2rem;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border: .5rem solid red;
  border-radius: 1rem;
  margin: auto;
}

#window {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 640px;
  border: 1px solid gray;
  margin: 0 auto;
}

.column {
  flex: 1;
  display: flex;
  border-bottom: 1px solid gray;
}

.column:last-of-type {
  border: none;
}

.row {
  flex: 1;
  border-right: 1px solid gray;
}

.row:last-of-type {
  border: none;
}

button {
  display: block;
  background-color: #0000;
  color: #ffb703;
  border: 2px solid;
  font-size: 1.5rem;
  padding: .75rem 1.5rem;
  margin: 1rem auto 0;
  border-radius: 1rem;
  cursor: pointer;
}

button:hover {
  color: #ffc30099;
}